/*Font
font-family: basic-sans, sans-serif;
font-weight: 400; // 300 // 600 //700
font-style: normal;

font-family: calluna, serif;
font-weight: 600; //400 //300
font-style: normal;
*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: -19;
  border-left: 1.1px solid;
  border-top: 1.1px solid;
  border-right: 1.1px solid;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 56.25em) {
    .circle {
      display: none; } }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  --ti-cursor-color: transparent; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

@media only screen and (max-width: 56.25em) {
  .main.filter {
    filter: blur(5px); } }

h1,
h2 {
  font-family: 'Cormorant', serif; }

h1 {
  font-weight: 600; }

h2 {
  font-weight: 700;
  font-size: clamp(2.8rem, 5.5vw, 7.8rem);
  text-align: right; }

h3 {
  font-weight: 700;
  font-size: clamp(1.8rem, 2vw, 2.8rem);
  padding-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    h3 {
      padding-bottom: 0; } }

h4 {
  text-align: right;
  font-size: 1.3vw;
  font-weight: 500;
  text-decoration: overline; }

section {
  padding: 0 3rem; }
  @media only screen and (max-width: 56.25em) {
    section {
      padding: 0 1rem; } }

a {
  text-decoration: none;
  color: inherit; }

.color1 {
  background-color: #f7f3f0;
  color: #1f1f1f; }

.color2 {
  background-color: #30354d;
  color: #eaa45d; }
  .color2 .header__logo,
  .color2 .header__icon,
  .color2 .header__icon ::before,
  .color2 .header__icon ::after {
    filter: invert(1); }

.color3 {
  background-color: #282b29;
  color: #a6d1c9; }
  .color3 .header__logo,
  .color3 .header__icon,
  .color3 .header__icon ::before,
  .color3 .header__icon ::after {
    filter: invert(1); }

.color4 {
  background-color: #f4c4c4;
  color: #282b29; }

.color5 {
  background-color: #875659;
  color: #e4e898; }
  .color5 .header__logo,
  .color5 .header__icon,
  .color5 .header__icon ::before,
  .color5 .header__icon ::after {
    filter: invert(1); }

.about {
  height: 87vh;
  position: relative; }
  .about__container {
    display: flex;
    justify-content: center;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .about__container {
        display: block;
        width: 90vw; } }
  .about__img {
    width: 100%;
    height: 100%;
    max-width: 360px;
    max-height: 360px;
    border-radius: 50%;
    box-shadow: -7px 8px 22px -2px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: -7px 8px 22px -2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -7px 8px 22px -2px rgba(0, 0, 0, 0.64); }
    @media only screen and (max-width: 56.25em) {
      .about__img {
        width: 40%;
        height: 40%;
        margin-left: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__img {
        display: none; } }
    .about__img-avartar {
      width: 20%; }
  .about__para {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .about__para {
        transform: none; } }
  .about__p {
    text-align: right;
    padding-left: 3rem;
    line-height: 1.6;
    font-size: clamp(1.4rem, 1.3vw, 2rem); }
    @media only screen and (max-width: 56.25em) {
      .about__p {
        padding-left: 0; } }
    .about__p-first {
      font-family: 'Cormorant', serif;
      font-size: clamp(2rem, 1.5vw, 3rem);
      font-weight: 600;
      text-align: right;
      line-height: 1.6; }
      .about__p-first:nth-child(1) {
        font-size: clamp(2.5rem, 2vw, 4rem); }
      .about__p-first span {
        font-family: 'mina', serif;
        font-weight: 900;
        font-style: normal;
        font-size: clamp(1.5rem, 2vw, 3.5rem); }

.contact {
  height: 87vh;
  position: relative; }
  .contact__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center; }
  .contact__link {
    padding-bottom: 1.7rem;
    font-size: clamp(1.5rem, 1.5vw, 2.5rem); }
    .contact__link:hover {
      transform: scale(1.1) rotate(-3deg); }

.fab,
.fa-solid {
  padding: 0 1rem 0 0;
  font-size: clamp(1.3rem, 2vw, 2.5rem); }

.design__ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, max-content));
  max-width: 90vw;
  margin: 0 auto; }

.design__li {
  padding: 2rem;
  margin: 3rem auto;
  list-style: none;
  max-width: 550px; }

.design__img {
  width: 100%;
  height: auto; }

.design__caption {
  text-align: right;
  font-size: 1vw; }

.design__heading {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.6vw, 2.5rem);
  padding: 1rem 0; }
  .design__heading:hover {
    transform: rotate(0); }

.design__para-des {
  border-top: 1px solid;
  padding: 2px 0; }

.header__nav {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .header__nav {
      flex-direction: column; } }

.header__link :hover {
  transform: scale(1.1) rotate(-5deg); }
  @media only screen and (max-width: 56.25em) {
    .header__link :hover {
      transform: none; } }

.header__logo {
  width: 10rem;
  height: auto;
  position: fixed;
  left: 2.5rem;
  top: 2.5rem;
  z-index: 1; }
  @media only screen and (max-width: 75em) {
    .header__logo {
      width: 8rem; } }
  @media only screen and (max-width: 56.25em) {
    .header__logo {
      width: 6rem; } }

.header__ul {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .header__ul {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem;
      width: 100%; } }

.header__li {
  list-style: none;
  font-size: clamp(1rem, 1.8rem, 2rem);
  margin-right: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .header__li {
      padding: 8px;
      margin-right: 0; } }
  .header__li-a ::after {
    content: '|';
    padding-left: 5px; }
    @media only screen and (max-width: 56.25em) {
      .header__li-a ::after {
        content: '';
        padding-left: 0; } }
  .header__li-a:hover {
    transform: scale(1.1) rotate(-7deg); }
    @media only screen and (max-width: 56.25em) {
      .header__li-a:hover {
        transform: none; } }

.header__checkbox {
  display: none; }

.header__toggle {
  display: none;
  position: absolute;
  right: 0.75rem;
  top: 1.75rem; }
  @media only screen and (max-width: 56.25em) {
    .header__toggle {
      display: block; } }

.header__toggle > i {
  font-size: 1.8rem; }

.header__icon {
  position: relative;
  margin-top: 3rem;
  margin-right: 1rem; }
  .header__icon, .header__icon::before, .header__icon::after {
    width: 2.5rem;
    height: 2.3px;
    border-radius: 5px;
    background-color: #1f1f1f;
    display: inline-block; }
  .header__icon::before, .header__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.3s; }
  .header__icon::before {
    top: -0.8rem; }
  .header__icon::after {
    top: 0.8rem; }

.header__toggle:hover .header__icon::before {
  top: -0.9rem; }

.header__toggle:hover .header__icon::after {
  top: 0.9rem; }

.header__checkbox:checked + .header__toggle .header__icon {
  background-color: transparent; }

.header__checkbox:checked + .header__toggle .header__icon::before {
  top: 0;
  transform: rotate(135deg); }

.header__checkbox:checked + .header__toggle .header__icon::after {
  top: 0;
  transform: rotate(-135deg); }

@media only screen and (max-width: 56.25em) {
  .header__ul.show {
    display: flex;
    z-index: 2; } }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh; }
  .home__header {
    display: flex;
    justify-content: center;
    align-items: end; }
  .home__heading {
    font-size: clamp(4rem, 9vw, 13rem); }
  .home__para {
    font-size: clamp(1.2rem, 1.3vw, 3rem);
    line-height: 1.7;
    padding: 1.3rem;
    text-align: center;
    width: 60%; }
    .home__para:last-child {
      font-size: clamp(1.3rem, 1.5vw, 3rem);
      font-family: 'Cormorant', serif;
      border-top: 1px solid; }
  .home__para > strong {
    font-size: clamp(1.3rem, 1.5vw, 3rem); }

.work {
  position: relative;
  width: 100%;
  height: 100%; }
  .work__ul {
    margin-top: -5rem; }
  .work__container {
    width: 85vw;
    max-width: 1700px;
    border: 1px solid;
    border-radius: 10px;
    padding: 2rem;
    margin: 15rem auto;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .work__container {
        padding: 1rem; } }
  .work__tab {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .work__tab {
        display: block; } }
  .work__imgContainer {
    width: 50%;
    transition: all 0.3s ease-in-out;
    border-right: 1px solid;
    padding-right: 2rem;
    border-top-right-radius: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .work__imgContainer {
        border: none;
        padding-right: 0;
        width: 100%;
        padding: 1rem 0; } }
  .work__img {
    width: 100%;
    height: auto;
    max-width: 750px;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .work__img {
        position: static;
        transform: translate(0, 0); } }
  .work__desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .work__desc {
        width: 100%;
        padding-left: 1rem;
        padding-bottom: 0; } }
  .work__para {
    font-size: clamp(1.4rem, 1.3vw, 2rem);
    line-height: 1.7; }
    .work__para-des {
      padding: 1.8rem 0; }
      @media only screen and (max-width: 56.25em) {
        .work__para-des {
          padding: 1rem 0; } }
  .work__top {
    background-color: transparent;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s; }
  .work__link {
    font-size: clamp(1.7rem, 1.5vw, 3rem); }
    .work__link-right {
      text-align: right; }
    .work__link-left {
      text-align: left; }
  .work__video {
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 30px; }

.heading__h4 {
  font-size: clamp(1.7rem, 1.5vw, 3rem);
  padding-bottom: 2rem; }

.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1; }

.fa-home,
.fa-brands {
  padding: 2rem 1rem 0 1rem; }
  .fa-home:hover,
  .fa-brands:hover {
    transform: scale(1.1) rotate(-5deg); }

strong {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: clamp(1.7rem, 1.5vw, 2.3rem); }

.fa-chevron-circle-up:hover {
  transform: scale(1.1); }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  min-width: 50rem;
  max-width: 150rem;
  padding: 3rem 4rem;
  border: 1px solid inherit;
  background-color: #f7f3f0;
  color: #1f1f1f;
  border-radius: 5px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.4s; }
  .modal__top {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden; }
  .modal__btm {
    font-weight: 400; }
    .modal__btm-h5 {
      font-size: 2.5rem; }
    .modal__btm-para {
      padding-top: 1rem;
      font-size: 1rem;
      line-height: 1.7; }
  .modal__container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap; }
  .modal__list {
    padding: 3px;
    flex-basis: 50%;
    list-style: none; }
  .modal__img {
    width: 100%;
    height: auto; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.btn__close {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none; }

.hidden {
  visibility: hidden;
  opacity: 0; }

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(0.93);
  transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1); }

[data-scroll='in'] {
  opacity: 1;
  transform: translateY(0) scale(1); }

[data-scroll='out'] {
  opacity: 0; }

.footer {
  height: 3vh; }
  .footer__para {
    font-size: clamp(1.2rem, 1vw, 1.5rem);
    text-align: right;
    padding-right: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      visibility: hidden; } }
