/*Font
font-family: basic-sans, sans-serif;
font-weight: 400; // 300 // 600 //700
font-style: normal;

font-family: calluna, serif;
font-weight: 600; //400 //300
font-style: normal;
*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: -19;
  border-left: 1.1px solid;
  border-top: 1.1px solid;
  border-right: 1.1px solid;
  transform: translate(-50%, -50%); }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  --ti-cursor-color: transparent; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

h1,
h2 {
  font-family: 'Cormorant', serif; }

h1 {
  font-weight: 600; }

h2 {
  font-weight: 700;
  font-size: 5vw;
  text-align: right; }

h3 {
  font-weight: 700;
  font-size: 2vw;
  padding-bottom: 2rem; }

section {
  padding: 0 3rem; }

a {
  text-decoration: none;
  color: inherit; }

.color1 {
  background-color: #f7f3f0;
  color: #1f1f1f; }

.color2 {
  background-color: #30354d;
  color: #eaa45d; }
  .color2 .header__logo {
    filter: invert(1); }

.color3 {
  background-color: #282b29;
  color: #a6d1c9; }
  .color3 .header__logo {
    filter: invert(1); }

.color4 {
  background-color: #f4c4c4;
  color: #282b29; }

.color5 {
  background-color: #875659;
  color: #e4e898; }
  .color5 .header__logo {
    filter: invert(1); }

.about {
  height: 87vh;
  position: relative; }
  .about__container {
    display: flex;
    justify-content: center;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
  .about__img {
    width: 100%;
    height: 100%;
    min-height: 160px;
    border-radius: 50%;
    box-shadow: -7px 8px 22px -2px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: -7px 8px 22px -2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -7px 8px 22px -2px rgba(0, 0, 0, 0.64); }
    .about__img-avartar {
      position: fixed;
      left: 77%;
      top: 72%;
      width: clamp(160px, 15vw, 260px);
      height: clamp(160px, 15vw, 260px);
      z-index: -99; }
  .about__p {
    text-align: right;
    padding-left: 3rem;
    line-height: 1.6;
    font-size: clamp(1.4rem, 1.3vw, 2rem); }
    .about__p-first {
      font-family: 'Cormorant', serif;
      font-size: clamp(2rem, 1.5vw, 3.2rem);
      font-weight: 600;
      text-align: right;
      padding-left: 3rem;
      line-height: 1.6; }

.contact {
  height: 87vh;
  position: relative; }
  .contact__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    text-align: center; }
  .contact__link {
    padding-bottom: 1.7rem; }

.fab,
.fa-solid {
  padding: 0 1rem 0 0;
  font-size: 3rem; }

.header__nav {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center; }

.header__link :hover {
  transform: scale(1.1) rotate(-5deg); }

.header__logo {
  width: 10rem;
  height: auto;
  position: fixed;
  left: 2.5rem;
  top: 2.5rem;
  z-index: 1; }

.header__ul {
  display: flex; }

.header__li {
  list-style: none;
  font-size: 1.8rem;
  margin-right: 3rem; }
  .header__li-a ::after {
    content: '|';
    padding-left: 5px; }
  .header__li-a :hover {
    transform: scale(1.1) rotate(-10deg); }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh; }
  .home__heading {
    font-size: 9vw; }
  .home__para {
    font-size: 1.3vw;
    line-height: 1.7; }
    .home__para span {
      font-family: 'mina', serif;
      font-weight: 900;
      font-style: normal;
      font-size: 3rem; }

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }

.loading__reveal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f7f3f0; }

.loading__pre {
  position: absolute;
  top: 0;
  left: 0;
  background: #1f1f1f; }

.loading__page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(10deg, rgba(48, 53, 77, 0.7) 100% rgba(48, 53, 77, 0.7) 0%); }
  .loading__page--wrapper {
    position: relative;
    width: 10px;
    height: 140px;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    transform: rotate(90deg); }

.work {
  position: relative;
  width: 100%;
  height: 100%; }
  .work__ul {
    margin-top: -5rem; }
  .work__container {
    width: 90vw;
    border: 1px solid;
    padding: 2rem;
    margin: 15rem auto;
    list-style: none; }
  .work__tab {
    display: flex; }
  .work__imgContainer, .work__imgContainer-right {
    display: flex;
    width: 50%; }
  .work__imgContainer {
    border-right: 1px solid;
    padding-right: 2rem; }
    .work__imgContainer-right {
      border-left: 1px solid;
      padding-left: 2rem; }
  .work__img {
    width: 100%;
    height: auto; }
  .work__desc, .work__desc-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .work__desc {
    padding-left: 2rem; }
    .work__desc-left {
      padding-right: 2rem;
      text-align: right; }
  .work__para {
    font-size: clamp(1.4rem, 1.3vw, 2rem);
    line-height: 1.7; }
  .work__top {
    background-color: transparent;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s; }
  .work__link {
    font-size: clamp(1.7rem, 1.5vw, 3rem); }

.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1; }

.fa-home,
.fa-brands {
  padding: 2rem 1rem 0 1rem; }

strong {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: clamp(1.7rem, 1.5vw, 2.3rem); }

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(0.93);
  transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1); }

[data-scroll='in'] {
  opacity: 1;
  transform: translateY(0) scale(1); }

[data-scroll='out'] {
  opacity: 0; }

.footer {
  height: 3vh; }
  .footer__para {
    font-size: 1vw;
    text-align: right;
    padding-right: 3rem; }
