$color-1-bg: #f7f3f0;
$color-1-font: #1f1f1f;

/*Font
font-family: basic-sans, sans-serif;
font-weight: 400; // 300 // 600 //700
font-style: normal;

font-family: calluna, serif;
font-weight: 600; //400 //300
font-style: normal;
*/
$font-size-xl: 3rem;
$font-size-lg: 2rem;
$font-size-df: 1.5rem;
$font-size-sm: 1rem;
