$color-1-bg: #f7f3f0;
$color-1-font: #1f1f1f;

$color-2-bg: #30354d;
$color-2-font: #eaa45d;

$color-3-bg: #282b29;
$color-3-font: #a6d1c9;

$color-4-bg: #f4c4c4;
$color-4-font: #282b29;

$color-5-bg: #875659;
$color-5-font: #e4e898;

/*Font
font-family: basic-sans, sans-serif;
font-weight: 400; // 300 // 600 //700
font-style: normal;

font-family: calluna, serif;
font-weight: 600; //400 //300
font-style: normal;
*/
$font-size-xl: 3rem;
$font-size-lg: 1.5vw;
$font-size-df: 1.3vw;
$font-size-sm: 1vw;
$font-size-xs: 0.8vw;
