.about {
  height: 87vh;
  position: relative;

  &__container {
    display: flex;
    justify-content: center;
    width: 70vw;
    @include absCenter;

    @include respond(tab-port) {
      display: block;
      // overflow-y: auto;
      width: 90vw;
      // transform: translate(0, 0);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    max-width: 360px;
    max-height: 360px;
    border-radius: 50%;
    box-shadow: -7px 8px 22px -2px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: -7px 8px 22px -2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -7px 8px 22px -2px rgba(0, 0, 0, 0.64);
    @include respond(tab-port) {
      width: 40%;
      height: 40%;
    }
    @include respond(phone) {
      display: none;
    }

    &-avartar {
      width: 20%;
      // position: fixed;
      // left: 77%;
      // top: 72%;
      // width: clamp(160px, 15vw, 260px);
      // height: clamp(160px, 15vw, 260px);
      // z-index: -99;

      // @include respond(tab-port) {
      //   display: none;
      // }
    }
  }

  &__para {
    @include respond(phone) {
      transform: none;
    }
  }
  &__p {
    text-align: right;
    padding-left: 3rem;
    line-height: 1.6;
    font-size: clamp(1.4rem, $font-size-df, 2rem);
    @include respond(tab-port) {
      padding-left: 0;
    }

    &-first {
      font-family: 'Cormorant', serif;
      font-size: clamp(2rem, $font-size-lg, 3rem);
      font-weight: 600;
      text-align: right;
      // padding-left: 3rem;
      line-height: 1.6;

      &:nth-child(1) {
        font-size: clamp(2.5rem, $font-size-xl, 4rem);
      }
      span {
        font-family: 'mina', serif;
        font-weight: 900;
        font-style: normal;
        font-size: clamp(1.5rem, $font-size-xl, 3.5rem);
      }
    }

    // &-firstIntro {
    //   font-size: clamp(2.5rem, $font-size-xl, 4rem);
    // }
    // font-size: clamp(min, vw, max)
  }
}
