.contact {
  height: 87vh;
  position: relative;
  &__container {
    @include absCenter;
    display: flex;
    flex-direction: column;
    font-size: $font-size-lg;
    text-align: center;
  }
  &__link {
    padding-bottom: 1.7rem;
    &:hover {
      transform: scale(1.1) rotate(-3deg);
    }
  }
}
.fab,
.fa-solid {
  padding: 0 1rem 0 0;
  font-size: $font-size-xl;
}
