.design {
  &__ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, max-content));
    max-width: 90vw;
    margin: 0 auto;
    justify-content: center;
  }
  &__li {
    padding: 2rem;
    margin: 3rem auto;
    list-style: none;
    max-width: 400px;
  }

  &__img {
    width: 100%;
    height: auto;
  }
  &__caption {
    text-align: right;
    font-size: $font-size-sm;
  }

  &__heading {
    font-weight: 700;
    font-size: clamp(1.5rem, 1.6vw, 2.5rem);
    padding: 1rem 0;
    &:hover {
      transform: rotate(0);
    }
  }

  &__para-des {
    border-top: 1px solid;
    padding: 2px 0;
  }
}
