.header {
  &__nav {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
    }
  }
  &__link {
    :hover {
      transform: scale(1.1) rotate(-5deg);
    }
  }
  &__logo {
    width: 10rem;
    height: auto;
    position: fixed;
    left: 2.5rem;
    top: 2.5rem;
    z-index: 1;

    @include respond(tab-land) {
      width: 8rem;
    }
    @include respond(tab-port) {
      width: 6rem;
    }
  }
  &__ul {
    display: flex;

    @include respond(phone) {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem;
      width: 100%;
    }
  }

  &__li {
    list-style: none;
    font-size: clamp(1rem, 1.8rem, 2rem);
    margin-right: 3rem;
    @include respond(phone) {
      padding: 8px;
      margin-right: 0;
    }
    &-a {
      ::after {
        content: '|';
        padding-left: 5px;

        @include respond(phone) {
          content: '';
          padding-left: 0;
        }
      }
      &:hover {
        transform: scale(1.1) rotate(-7deg);
      }
    }
  }

  &__toggle {
    display: none;
    position: absolute;
    right: 0.75rem;
    top: 1.75rem;
    @include respond(phone) {
      display: block;
    }
  }
  &__toggle > i {
    font-size: 1.8rem;
  }
}
.header__ul.show {
  @include respond(phone) {
    display: flex;
    z-index: 2;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh;

  &__header {
    display: flex;
    justify-content: center;
    align-items: end;
  }
  &__heading {
    font-size: clamp(4rem, 9vw, 13rem);
  }

  &__para {
    font-size: clamp(1.2rem, $font-size-df, 3rem);
    line-height: 1.7;
    padding: 1.3rem;
    text-align: center;
    width: 60%;
    &:last-child {
      font-size: clamp(1.3rem, $font-size-lg, 3rem);
      font-family: 'Cormorant', serif;
      border-top: 1px solid;
    }
    // &-2 {
    //   width: 60%;
    //   font-family: 'Cormorant', serif;
    // }

    span {
      font-family: 'mina', serif;
      font-weight: 900;
      font-style: normal;
      font-size: clamp(1.5rem, $font-size-xl, 3.5rem);
    }
  }

  &__para > strong {
    font-size: $font-size-lg;
  }
}
