.header {
  &__nav {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    :hover {
      transform: scale(1.1) rotate(-5deg);
    }
  }
  &__logo {
    width: 10rem;
    height: auto;
    position: fixed;
    left: 2.5rem;
    top: 2.5rem;
    z-index: 1;
  }
  &__ul {
    display: flex;
  }

  &__li {
    list-style: none;
    font-size: 1.8rem;
    margin-right: 3rem;
    &-a {
      ::after {
        content: '|';
        padding-left: 5px;
      }
      :hover {
        transform: scale(1.1) rotate(-10deg);
      }
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh;
  &__heading {
    font-size: 10vw;
  }

  &__para {
    font-size: $font-size-xl;
    line-height: 1.7;
    span {
      font-family: 'mina', serif;
      font-weight: 900;
      font-style: normal;
      font-size: 3rem;
    }
  }
}
.sticky {
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.loading {
  &__text {
    font-family: calluna, serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: yellowgreen;
    overflow: hidden;

    &--wrapper {
      position: absolute;
      top: 0;
      left: 0;
      background: yellow;
    }
  }

  &__reveal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: yellowgreen;
  }

  &__pre {
    position: absolute;
    top: 0;
    left: 0;
    background: yellowgreen;
  }
  &__page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      10deg,
      rgba(blue, 0.7) 0%,
      rgba(blue, 0.7) 100%
    );

    &--wrapper {
      position: relative;
      width: 10px;
      height: 140px;
      background: rgb(240, 240, 240);
      border-radius: 4px;
      overflow: hidden;
      transform: rotate(90deg);
    }
  }
}
