.work {
  position: relative;
  width: 100%;
  height: 100%;
  &__ul {
    margin-top: -5rem;
  }
  &__container {
    width: 90vw;
    border: 1px solid;
    padding: 2rem;
    margin: 15rem auto;
    list-style: none;
    // @include respond(tab-port) {
    //   margin: 5rem auto;
    // }
  }

  &__tab {
    display: flex;
    @include respond(tab-port) {
      display: block;
    }
  }

  &__imgContainer {
    // display: flex;
    width: 50%;
    // flex: 1 1 auto;
    transition: all 0.3s ease-in-out;
    // cursor: progress;

    @include respond(tab-port) {
      // margin: 0 auto;
      width: 100%;
      padding: 1rem 0;
    }

    &-left {
      border-right: 1px solid;
      padding-right: 2rem;
      border-top-right-radius: 3rem;
      @include respond(tab-port) {
        border: none;
        padding-left: 0;
      }
    }

    &-right {
      border-left: 1px solid;
      padding-left: 2rem;
      border-top-left-radius: 3rem;
      @include respond(tab-port) {
        border: none;
        padding-left: 0;
      }
    }
  }
  &__img {
    width: 100%;
    height: auto;
    max-width: 750px;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    &:hover {
      filter: drop-shadow(0 0 0.75rem black);
    }
    @include respond(tab-port) {
      position: static;
      transform: translate(0, 0);
    }
  }
  &__desc,
  &__desc-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tab-port) {
      width: 100%;
      padding-bottom: 1.5rem;
    }
  }

  &__desc {
    padding-left: 2rem;
    &-left {
      padding-right: 2rem;
      text-align: right;
      @include respond(tab-port) {
        text-align: left;
      }
    }
  }

  &__para {
    font-size: clamp(1.4rem, $font-size-df, 2rem);
    line-height: 1.7;

    &-des {
      padding: 1.8rem 0;
    }
  }

  &__top {
    background-color: transparent;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }

  &__link {
    font-size: clamp(1.7rem, $font-size-lg, 3rem);
    &-right {
      text-align: right;
    }
    &-left {
      text-align: left;
    }
  }

  &__video {
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 30px;
  }
}
.heading__h4 {
  font-size: clamp(1.7rem, $font-size-lg, 3rem);
  padding-bottom: 2rem;
}
.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
.fa-home,
.fa-brands {
  padding: 2rem 1rem 0 1rem;

  &:hover {
    transform: scale(1.1) rotate(-5deg);
  }
}
strong {
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: clamp(1.7rem, $font-size-lg, 2.3rem);
}
.fa-chevron-circle-up:hover {
  transform: scale(1.1);
}
