.work {
  &__container {
    width: 90vw;
    border: 1px solid $color-1-font;
    padding: 2rem;
    margin: 2rem auto;
  }

  &__link {
    display: flex;
  }
  &__imgContainer {
    width: 50%;
    border-right: 1px solid $color-1-font;
    padding-right: 2rem;

    &-right {
      width: 50%;
      border-left: 1px solid $color-1-font;
      padding-left: 2rem;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__desc {
    width: 50%;
    text-align: right;
    &-left {
      width: 50%;
    }
  }
}
