# dependencies
/node_modules
/.pnp
.pnp.js
/works
.mp4


# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

images/works/hailey.mp4
images/works/e-learning.mp4
images/works/todoReact.mp4
