.color1 {
  background-color: $color-1-bg;
  color: $color-1-font;
}

.color2 {
  background-color: $color-2-bg;
  color: $color-2-font;

  @if ($color-2-font == #eaa45d) {
    .header__logo,
    .header__icon,
    .header__icon ::before,
    .header__icon ::after {
      filter: invert(1);
    }
  }
}
.color3 {
  background-color: $color-3-bg;
  color: $color-3-font;

  @if ($color-3-font == #a6d1c9) {
    .header__logo,
    .header__icon,
    .header__icon ::before,
    .header__icon ::after {
      filter: invert(1);
    }
  }
}
.color4 {
  background-color: $color-4-bg;
  color: $color-4-font;
}
.color5 {
  background-color: $color-5-bg;
  color: $color-5-font;

  @if ($color-5-font == #e4e898) {
    .header__logo,
    .header__icon,
    .header__icon ::before,
    .header__icon ::after {
      filter: invert(1);
    }
  }
}
